@import './colors.scss';
@import './fonts.scss';

$grid-columns:24;

$body-color: $white !default;
$headings-font-weight: 400;
$table-accent-bg: $gray-800;
$table-border-color: $gray-700;
$table-dark-bg: $gray-500;
$table-dark-border-color: darken($gray-500, 7.5%);
$table-dark-color: $body-bg;
$input-border-color: transparent;
$input-group-addon-color: $gray-500;
$input-group-addon-bg: $gray-700;
$dropdown-bg: $gray-900;
$dropdown-border-color: $gray-700;
$dropdown-divider-bg: $gray-700;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$nav-link-padding-x: 2rem;
$nav-link-disabled-color: $gray-200;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $green;
$navbar-padding-y: 1rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $success;
$navbar-light-color: rgba($white,.5);
$navbar-light-hover-color: $white;
$navbar-light-active-color: $green;
$navbar-light-disabled-color: rgba($white,.3);
$navbar-light-toggler-border-color: transparent;
$navbar-light-toggler-bg: $green;
$pagination-color: $white;
$pagination-bg: $success;
$pagination-border-width: 0;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: lighten($success, 10%);
$pagination-hover-border-color: transparent;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: transparent;
$pagination-disabled-color: $white;
$pagination-disabled-bg: darken($success, 15%);
$pagination-disabled-border-color: transparent;
$jumbotron-bg: transparent;
$card-cap-bg: $gray-700;
$card-bg: transparent;
$card-border-color: transparent;
$popover-bg: $gray-800;
$popover-header-bg: $gray-700;
$modal-content-bg: $gray-800;
$modal-content-border-color: $gray-700;
$modal-header-border-color: $gray-700;
$progress-height: 0.625rem;
$progress-font-size: 0.625rem;
$progress-bg: $gray-700;
$list-group-bg: $gray-800;
$list-group-border-color: $gray-700;
$list-group-hover-bg: $gray-700;
$breadcrumb-bg: $gray-700;
$close-color: $white;
$close-text-shadow: none;
$pre-color: inherit;
$border-radius-sm: 1px;
$border-radius-lg: 3px;
$border-radius: 2px;

